Taxi_Application/PEC_DESKTOP_APP/src/META-INF/wsdl/localhost_8080/PEC_Coursework/JourneyAndShiftsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices/" name="JourneyAndShiftsService">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices/" schemaLocation="http://localhost:8080/PEC_Coursework/JourneyAndShiftsService?xsd=1"/>
</xsd:schema>
</types>
<message name="createShift">
<part name="parameters" element="tns:createShift"/>
</message>
<message name="createShiftResponse">
<part name="parameters" element="tns:createShiftResponse"/>
</message>
<message name="finishShift">
<part name="parameters" element="tns:finishShift"/>
</message>
<message name="finishShiftResponse">
<part name="parameters" element="tns:finishShiftResponse"/>
</message>
<message name="createJourney">
<part name="parameters" element="tns:createJourney"/>
</message>
<message name="createJourneyResponse">
<part name="parameters" element="tns:createJourneyResponse"/>
</message>
<message name="finishJourney">
<part name="parameters" element="tns:finishJourney"/>
</message>
<message name="finishJourneyResponse">
<part name="parameters" element="tns:finishJourneyResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="JourneyAndShiftsService">
<operation name="createShift">
<input wsam:Action="http://webServices/JourneyAndShiftsService/createShiftRequest" message="tns:createShift"/>
<output wsam:Action="http://webServices/JourneyAndShiftsService/createShiftResponse" message="tns:createShiftResponse"/>
</operation>
<operation name="finishShift">
<input wsam:Action="http://webServices/JourneyAndShiftsService/finishShiftRequest" message="tns:finishShift"/>
<output wsam:Action="http://webServices/JourneyAndShiftsService/finishShiftResponse" message="tns:finishShiftResponse"/>
</operation>
<operation name="createJourney">
<input wsam:Action="http://webServices/JourneyAndShiftsService/createJourneyRequest" message="tns:createJourney"/>
<output wsam:Action="http://webServices/JourneyAndShiftsService/createJourneyResponse" message="tns:createJourneyResponse"/>
</operation>
<operation name="finishJourney">
<input wsam:Action="http://webServices/JourneyAndShiftsService/finishJourneyRequest" message="tns:finishJourney"/>
<output wsam:Action="http://webServices/JourneyAndShiftsService/finishJourneyResponse" message="tns:finishJourneyResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://webServices/JourneyAndShiftsService/loginRequest" message="tns:login"/>
<output wsam:Action="http://webServices/JourneyAndShiftsService/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="JourneyAndShiftsServicePortBinding" type="tns:JourneyAndShiftsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createShift">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finishShift">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createJourney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finishJourney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JourneyAndShiftsService">
<port name="JourneyAndShiftsServicePort" binding="tns:JourneyAndShiftsServicePortBinding">
<soap:address location="http://localhost:8080/PEC_Coursework/JourneyAndShiftsService"/>
</port>
</service>
</definitions>